footer {
  text-align: center;
  margin: 25px;
  .container {
    padding: 20px;
    border-top: 1px solid #ccc;
  }
}

.strong {
  font-weight: bolder;
  font-size: 1.2em;
}

body { padding-top: 70px; }